@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thiết lập màu nền và chữ mặc định */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  /* Giúp font chữ mượt hơn trên màn hình xịn */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}