server:
  port: 8081

spring:
  application:
    name: identity-service
  datasource:
    # K?t n?i vào DB luxury_db (schema public ho?c t?o schema riêng tùy b?n)
    url: jdbc:postgresql://localhost:5432/luxury_decor_db
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # T? t?o b?ng user n?u ch?a có
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ # ??ng ký v?i s?p t?ng Eureka